[submodule "themes/next"]
    path = themes/next
    url = https://github.com/theme-next/hexo-theme-next
[submodule "themes/Simple"]
    path = themes/Simple
    url = https://github.com/chuguixin/Simple.git