---
import type { MarkdownInstance } from "astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
const allPosts:MarkdownInstance<Record<string, any>>[] = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<Layout title="标签页面">
  <h1>标签链接页面</h1>

  <div>
    {
      tags.map((tag) => (
        <p>
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</Layout>
