---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("books");
const tags = [...new Set(allPosts.map((book) => book.data.tags).flat())];
---

<Layout title="标签页面">
  <h1>标签链接页面</h1>

  <div>
    {
      tags.map((tag) => (
        <p>
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</Layout>
