---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import ArticleImage from "../components/ArticleImage.astro";
import { getAll } from "../lib/posts";

// 1. 为每个集合条目生成一个新路径
export async function getStaticPaths() {


  const allPosts = await getAll();
  return allPosts.map((entry) => ({
    params: { slug: entry.data.path },
    props: { entry },
  }));
}
// 2. 当渲染的时候，你可以直接从属性中得到条目
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <div class="border w-full my-4 py-4 px-3">
    <h1 class="text-3xl font-bold mb-7">{entry.data.title}</h1>
    <p class="text-sm text-gray-500 mb-4">Published on: {entry.data.pubDate.split(' ')[0]}</p>
    <Prose>
      <Content components={{ img: ArticleImage }} />
    </Prose>
  </div>
</Layout>
