---
import Layout from "../layouts/Layout.astro";
---

<Layout title="关于本博客">
  <span class="text-2xl mb-4">
    欢迎访问 <span class="">oldyang(老杨)</span>的博客
  </span>
  <p class="text-xl">
    这个博客会记录我个人的一些开发笔记以及读书笔记,当然还有一些生活记录。上一版博客使用hexo构建,复杂的东西太多了,因此借着学习astro的机会
    更新到这个博客,希望内容可以保留下来。
  </p>
</Layout>
