---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css"
const pageTitle = "我是一个astro初学者";
---

<Layout title="关于本博客">
  <main>
    <h1>{pageTitle}</h1>
    <p>oldyang个人的学习博客。</p>
  </main>
</Layout>
