---
import Layout from "../layouts/Layout.astro";
---

<Layout title="关于本博客">
  <div class="border w-full my-4 py-4 px-3">
    <div class="prose">
      <h2>欢迎访问oldyang(老杨)的博客</h2>
      <p>
        这个博客会记录我个人的一些开发笔记以及读书笔记,当然还有一些生活记录。
      </p>
      <h2>博客的更新记录</h2>
      <ul class="list-none">
        <li><span class="font-mono tabular-nums">[2026-05-17]</span> 完善了一下日期格式</li>
        <li><span class="font-mono tabular-nums">[2025-02-07]</span> Front matter中的path还原为slug,修复了vs插件的管理功能</li>
        <li><span class="font-mono tabular-nums">[2025-01-15]</span> 优化了首页显示,更新了内容定义</li>
      </ul>
    </div>
  </div>
</Layout>
