---
import Layout from "../layouts/Layout.astro";
---

<Layout title="关于本博客">
  <div class="border w-full my-4 py-4 px-3">
    <div class="prose">
      <h2>欢迎访问oldyang(老杨)的博客</h2>
      <p>
        这个博客会记录我个人的一些开发笔记以及读书笔记,当然还有一些生活记录。
      </p>
      <h2>博客的更新记录</h2>
      <p>
        <li>[2025-1-15] 优化了首页显示,更新了内容定义</li>
      </p>
    </div>
  </div>
</Layout>
