---
import Layout from "../layouts/Layout.astro";
const pageTitle = "开发笔记";
---

<Layout title={pageTitle}>
  <div class="border w-full my-4 py-4 px-3">
    <div class="text-2xl font-bold mb-8">所有读书笔记链接如下：</div>
    <ul class="link-list space-y-2">
      {}
    </ul>
  </div>
</Layout>
