---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import ArticleImage from "../components/ArticleImage.astro";
import { getAll, sortByPubDate } from "../lib/posts";

const posts = sortByPubDate(await getAll()) ;
const latestPosts = posts.slice(0, 5);
const renderedPosts = await Promise.all(
latestPosts.map(async (post) => {
    const { Content } = await post.render();
    return { ...post, Content };
  })
);
---

<Layout title="oldyang的博客首页">
  {
    renderedPosts.map((post) => (
      <div class="border w-full my-4 py-4 px-3">
        <div class="text-3xl font-bold underline mb-8">{post.data.title}</div>
        <Prose>
          <post.Content/>
        </Prose>
      </div>
    ))
  }
</Layout>
