---
import Layout from "../layouts/Layout.astro";
---

<Layout title="oldyang的博客">

    <h1>欢迎访问 <span class="text-gradient">oldyang(老杨)</span>的博客</h1>
    <p>
      这个博客会记录我个人的一些开发笔记以及读书笔记,当然还有一些生活记录。
    </p>

</Layout>

