---
import BaseLayout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';

const books = await getCollection('books');
const pageTitle = "博客链接列表";
---


<BaseLayout title={pageTitle}>
  <h1 class="text-2xl font-bold">本站所有文章列表</h1>

  ---------books---------<br />
  <ul>
    {books.map(book => <li><a href={"/" + book.slug}>{book.data.title}</a></li>)}

  </ul>
</BaseLayout>
