---
// const platform = "github";
// const username = "fushenyang";

const { platform, username } = Astro.props;
---

<footer>
  <p class="mt-5 text-lg">
    相关链接：<a href={`https://www.${platform}.com/${username}`}>我的{platform}主页</a>|<a href="https://oldyang.site">前一版博客</a>
  </p>
</footer>

<style>
  footer p a {
    @apply text-blue-500 mx-2 text-lg px-3;

    &:hover {
      @apply text-blue-800 underline underline-offset-4;
    }
  }
</style>
