---
// const platform = "github";
// const username = "fushenyang";

const { platform, username } = Astro.props;
---

<footer class=" mb-12">
  <span class="flex items-center mt-10">
    <span class="h-px flex-1 bg-black"></span>
    <span class="shrink-0 px-6">相关链接</span>
    <span class="h-px flex-1 bg-black"></span>
  </span>
  <p class="mt-5 text-lg">
    相关链接：<a target="_blank" href={`https://www.${platform}.com/${username}`}>{platform}主页</a>
    |<a target="_blank" href="https://fushenyang.github.io">前一版博客</a>
    |<a target="_blank" href="https://www.hyperui.dev">HyperUI</a>
  </p>
</footer>

<style>
  footer p a {
    @apply text-blue-500 mx-2 text-lg px-3;

    &:hover {
      @apply text-blue-800 underline underline-offset-4;
    }
  }
</style>
