---

---

<footer class=" mb-12">
  <span class="flex items-center mt-10">
    <span class="h-px flex-1 bg-black"></span>
    <span class="shrink-0 px-6">相关链接</span>
    <span class="h-px flex-1 bg-black"></span>
  </span>
  <p class="mt-5 text-lg">
    相关链接：<a target="_blank" href={`https://www.github.com/fushenyang`}>github</a>
    |<a target="_blank" href="https://history.oldyang.site">history</a>
    |<a target="_blank" href="https://yangfs.blogspot.com">blogspot</a>
    |<a target="_blank" href="https://www.hyperui.dev">HyperUI</a>
  </p>
</footer>

<style>
  footer p a {
    @apply text-blue-500 mx-1 text-lg px-1;

    &:hover {
      @apply text-blue-800 underline underline-offset-4;
    }
  }
</style>
