---

---

<!-- <div
  class="prose break-words
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl"
> -->
<div
  class="prose prose-h2:my-0 prose-h2:mt-2
prose-p:my-0 prose-figure:m-0 prose-figure:my-2
prose-figure:flex prose-p:indent-8 prose-figure:flex-col
prose-figure:items-center prose-figure-img:mx-auto
prose-figcaption:text-center prose-figcaption:m-0"
>
  <slot />
</div>
